@model Recipe

<section>
    <h3>@Model.Name</h3>
    <div>
        @Model.Category
    </div>
    <div>
        <a asp-action="Details" asp-route-id="@Model.Id">More</a>
        <a asp-page="/Recipes/Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section