@model IEnumerable<RecipesForFood.Models.Recipe>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var recipe in Model)
        {
            <tr>
                <td>@recipe.Id</td>
                <td>@recipe.Name</td>
            </tr>
        }
    </table>
</body>
</html>