@model RecipesForFood.ViewModel.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>@recipe.Id</td>
                <td>@recipe.Name</td>
            </tr>
        }
    </table>
</body>
</html>